.background {
  min-height: fit-content;
  max-width: 100vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 5em;
}

.title {
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  padding-left: 8.9em;
  margin-top: 1em;
  margin-bottom: .5em;
  font-size: 1.5em;
}

.gridLeft {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.gridRight {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.gridText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  max-width: 500px;
  gap: 1.5em;
  padding: 2em;
}

.gridTextHeader {
  font-size: 3em;
}

.gridTextBody {
  font-size: 1.2em;
  line-height: 2em;
}

.image2016,
.video2017,
.image2018,
.video2019 {
  max-width: 500px;
  height: auto;
}

.title > h1,
.gridTextHeader,
.gridTextBody {
  font-family: Raleway-medium;
}

@media screen and (max-width: 1024px) {
  .background{
    display: flex;
    flex-direction: column;
  }

  .gridLeft,
  .gridRight {
    justify-content: center;
    align-items: center;
  }

  .title {
    padding-left: 1em;
  }

  .image2016,
  .video2017,
  .image2018,
  .video2019 {
    padding: 5px;
  }
}