.background{
    height: calc(100vh - 10vh);
    display: flex;
    align-items: center;
}

.title {
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

.title > h1 {
  font-family: Raleway-medium;
}

.swiper {
    height: 75%;
    width: 70%;
  }

.swiperSlide .image {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

@media screen and (max-width: 1024px) {
  .background {
    flex-direction: column;
  }

  .title {
    display: flex;
    gap: .5em;
    padding: .5em;
    font-size: 1.5em;
  }

}