.background {
    display: flex;
    height: calc(100vh - 10vh);
    background-color: var(--main-bg-colour);
    display: flex;
    align-items: center;
}

.bgImage{
    --services-bg-image: url('../assets/images/chris-knight-vI3m5UnZ0aQ-unsplash.jpg');
    --services-bg-image-opacity: .85;

    height: 90%;
    width: 100%;
    position: relative;
    isolation: isolate;
  }
    
  .bgImage::before{
    content: '';
    background-image: var(--services-bg-image);
    opacity: var(--services-bg-image-opacity);
    background-size: 100vw 100vh;
    position: absolute;
    inset: 0;
    z-index: -1;
    object-fit: cover;
    width: 98%;
  }

.title {
    display: flex;
    align-items: center;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

.title > h1 {
    font-family: Raleway-medium;
}

.servicesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 3em;
    padding-left: 2em;
}

.servicesContainer > div {
    display: flex;
    max-width: 380px;
}

.servicesContainer > div > p {
    color: whitesmoke;
    font-size: 2em;
}

.servicesContainer > div > p:last-child {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}


@media screen and (max-width: 1024px) {
    .background {
        flex-direction: column;
    }

    .bgImage::before {
        width:100%;
    }

    .title {
        font-size: 1.5em;
    }

    .servicesContainer {
        align-items: center;
        gap: 2em;
    }

    .servicesContainer > div {
        flex-direction: column;
        align-items: center;
        gap: .5em;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 20px;
        padding: 1em;
    }
    .servicesContainer > div > p {
        font-size: 2.5em;
    }
}